*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.content {
  margin: auto;
  justify-content: center;
  align-items:flex-end;
  align-content: space-between;
  width: 1140px;
  height: 534px;
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
}

.result {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  height: 456px;
}

.result__video-container {
  width: 100%;
  height: 386px;
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position:center;
}

.search-form {
  height: 54px;
  display: flex;
  justify-content:flex-start;
  column-gap: 40px;
  align-items: flex-end;
}

.search-form__fieldset {
  width: 100%;
  height: 54px;
  border: none;
  cursor: pointer;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: inline-flex;
  column-gap: 5px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  border: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline 1px currentColor;
  text-underline-offset: 3px;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(255 255 255 / 0.7);
  padding: 1.5px 0;
  background-color: transparent;
  appearance: none;
  border: 1px solid #fff;
  border-width: 1px 0;
}

.search-form__label:has(:focus) .search-form__textfield {
  outline: none;
}

.search-form__label:has(:focus-visible) .search-form__textfield {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.search-form__label:has(:active) .search-form__textfield {
  outline: none;
  border: 1px solid currentColor;
}

.search-form__label:has(.search-form__checkbox:checked) .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.button {
  cursor: pointer;
  padding: 5px 72.5px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  user-select: none;
}

.button:hover {
  text-decoration: underline 1px currentColor;
  text-underline-offset: 3px;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.content__details {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  overflow-y:scroll;
  position: relative;
  height: 298px;
}

.cards-list-item-template {
  display: flex;
  flex-direction: column;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
  width: 399px;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__card-link {
  display: block;
  color:#fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
  margin: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-content: flex-start;
}

.content__video-card-description-container {
  width: 200px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient:vertical;
}

.content__video-card-thumbnail {
  width: 199px;
  height: 103px;
  padding: 2px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
}